.diagram_container {
  width: 70%;
  height: calc(100vh - 80px);
}
.react-flow__node {
  border-width: 2px;
  font-size: 12px;
}
.bot {
  border-color: darkred;
}
.user {
  border-color: black;
}

.delete{

}
.delete > img{
  max-width: 100%;
  max-height: 100%;
}