.diagram_container {
  width: 70%;
  height: calc(100vh - 80px);
}
.react-flow__node {
  border-width: 2px;
  font-size: 12px;
}
.bot {
  border-color: darkred;
}
.user {
  border-color: black;
}
.None {
  border-color: gray;
}
.delete {
}
.delete > img {
  max-width: 100%;
  max-height: 100%;
}

.Add-Button {
  background-image: url("./PLUS.svg");
  background-position-x: 0.2vh;
  background-position-y: 0.2vh;
}
.Tree-Button {
  background-image: url("./Tree.svg");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}
.react-flow__edge-path{
  stroke-width: 2.2;
}

.react-flow__node-customNode {
  font-size: 13px;
  background: #eee;
  border: 1px solid #555;
  border-radius: 3px;
}

.customNodeSpeaker{
  min-height: 20px;
  min-width: 100px;
  max-width: 200px;
  text-align: center;
  display: inline;
  direction: rtl;
  background-color: #B5FFC9;
}
.customNodeBot{
  min-height: 20px;
  min-width: 100px;
  max-width: 200px;
  text-align: center;
  display: inline;
  direction: rtl;
  background-color: #FFE6E6;
}
.customNodeBot:focus {
  border-width: 2px;
}
.customNodeSpeaker:focus {
  border-width: 2px;
}
.NodeLabel{
  margin: 0 7px 7px 7px;
}
.col{
  padding: 0;
}
.row{
  margin:0;
}
.form-check-label{
  pointer-events: none;
}